<div class="transaction-summary-container">
    <div class="summary-left">
        <div class="summary-item">
            <span>Id</span>
            <input [value]="this.transactionApiService.additionalData" readonly disabled>
        </div>
        <div class="summary-item">
            <span>Acct1</span>
            <input>
        </div>
        <div class="summary-item">
            <span>Acct2</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Acct Balance</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Acq_Insit_Code</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Amount</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Bitmap</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Capt_date</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Channel_id</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Stan</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Sysdate</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Terminal_type</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Trans_type</span>
            <input type="text">
        </div>
    </div>
    <div class="summary-right">
        <div class="summary-item">
            <span>Currency</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Des_insit_code</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Fee_amount</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Hpan</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Iss_insit_code</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Pos_data_code</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Prc_code</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Resp_code</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Reversal</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Transaction_id</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Time</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Update</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Mti</span>
            <input type="text">
        </div>
    </div>
</div>