<div>
  <div class="grid grid-cols-2 gap-4">
    <div class="grid-container">
      
      <div class="p-4">
        <div echarts [options]="this.transactionStatusChart._successFailed"
          [merge]="this.transactionStatusChart._updateOptions"></div>

      </div>
    </div>
    <div class="grid-container">
    
      <div class="p-4">
        <div echarts [options]="this.transactionStatusChart._pendingTimeout"
        [merge]="this.transactionStatusChart._pendingOptions"></div>
      </div>
    </div>
  </div>
</div>