<div class="grid-dashboard">
  <div class="grid-container-dashboard">
    <div class="grid-header-dashboard">
      <div>
        <p>Transaction</p>
        <span>Success</span>
      </div>
      <app-transaction-status-svg></app-transaction-status-svg>
    </div>
    <div class="grid-content">
      <p>Total Transaction</p>
      <h2>{{success}}</h2>
      <span>Updated: 08/06/2022 14:09</span>
    </div>
  </div>


  <div class="grid-container-dashboard">
    <div class="grid-header-dashboard">
      <div>
        <p>Transaction</p>
        <span>Declined</span>
      </div>
      <app-transaction-status-svg></app-transaction-status-svg>
    </div>
    <div class="grid-content">
      <p>Total Transaction</p>
      <h2>{{declined}}</h2>
      <span>Updated: 08/06/2022 14:09</span>
    </div>
  </div>

  
  <div class="grid-container-dashboard">
    <div class="grid-header-dashboard">
      <div>
        <p>Transaction</p>
        <span>Abnormal</span>
      </div>
      <app-transaction-status-svg></app-transaction-status-svg>
    </div>
    <div class="grid-content">
      <p>Total Transaction</p>
      <h2>{{abnormal}}</h2>
      <span>Updated: 08/06/2022 14:09</span>
    </div>
  </div>
</div>