.grid-dashboard {
  @apply grid grid-cols-3 gap-4
}

.grid-container-dashboard {
  @apply h-[191px] bg-white rounded-[26px] shadow-lg
}

.grid-header-dashboard p {
  font-family: "Poppins";
  @apply text-black leading-[30px] text-xl font-semibold not-italic
}

.grid-header-dashboard span {
  font-family: "Poppins";
  @apply not-italic font-normal leading-[22px] text-base text-gray-400
}

.grid-header-dashboard {
  @apply p-2 border-b justify-between flex; 
}

.grid-header-dashboard div {
  @apply mt-4 ml-2
}

.grid-content {
  @apply ml-4 mt-[10px];
}

.grid-content p {
  font-family: "Manrope";
  @apply w-[104px] h-[18px] not-italic font-normal text-xs leading-[18px] text-black
}

.grid-content h2 {
  font-family: "Manrope";
  @apply w-[50px] h-10 not-italic font-bold text-2xl leading-8 text-black
}

.grid-content span {
  font-family: "Poppins";
  @apply
  w-[155px]
  h-[17px]
  not-italic
  font-normal
  text-xs
  leading-4
  text-gray-400
}