<div>
  <div class="grid grid-cols-3 gap-4">
    <div class="grid-container">
      <div class="grid-header">
        <p>Transaction</p>
        <span>Success</span>
      </div>

      <div class="grid-content">
        <p>Total Transaction</p>
        <h2>200</h2>
        <span>Updated: 08/06/2022 14:09</span>
      </div>
      <!-- <div class="p-4">
        <div style="height: 300px;" echarts [options]="this.transactionStatusChart._successFailed"
          [merge]="this.transactionStatusChart._updateOptions"></div>

      </div>
    </div>
    <div class="grid-container">
      <div class="p-4">
        <div style="height: 300px;" echarts [options]="this.transactionStatusChart._pendingTimeout"
        [merge]="this.transactionStatusChart._pendingOptions"></div>
      </div>
    </div> -->
    </div>
    <div class="grid-container">
      <div class="grid-header">
        <p>Transaction</p>
        <span>Timeout</span>
      </div>

      <div class="grid-content">
        <p>Total Transaction</p>
        <h2>200</h2>
        <span>Updated: 08/06/2022 14:09</span>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-header">
        <p>Transaction</p>
        <span>Decline</span>
      </div>
      <div class="grid-content">
        <p>Total Transaction</p>
        <h2>200</h2>
        <span>Updated: 08/06/2022 14:09</span>
      </div>
    </div>
  </div>