<form #addChannel="ngForm" class="p-8" (ngSubmit)="onAddChannel(addChannel.value, addChannel.value.channelTypeId)">
    <div>
        <div class="input-container">
            <input ngModel type="text" name="channelId" class="peer" placeholder=" " required="">
            <label for="floating_first_name" class="input-label">Channel Id</label>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input ngModel type="text" name="ipAddress" class="peer" placeholder=" " required="">
            <label for="floating_first_name" class="input-label">Ip Address</label>
        </div>
        <div class="input-container">
            <input ngModel type="text" name="port" class="peer" placeholder=" " required="">
            <label for="floating_first_name" class="input-label">Port</label>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <p>Channel Type</p>
            <p-dropdown autoWidth="false" [style]="{'width':'100%'}" ngModel optionValue="channelTypeId" name="channelTypeId" [options]="channelType"
                optionLabel="channelType"></p-dropdown>
        </div>
        <div class="m-auto space-x-2">
            <input ngModel type="checkbox" name="isOnPremise">
            <label for="vehicle1">On premise</label><br>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn-submit-form">Create</button>
    </div>
</form>