<form [formGroup]="form" class="p-8">
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="channelId" type="text" name="channelId" class="peer" placeholder=" " required="">
            <label class="input-label">Channel Id</label>
            <p-message *ngIf="channelId.touched && !channelId.hasError('required')" severity="success"></p-message>
            <p-message *ngIf="channelId.touched && channelId.hasError('required')" severity="error"></p-message>
            <small *ngIf="channelId.touched && channelId.hasError('required')" class="p-error">Channel Id should be
                fill.</small>
        </div>
        <div class="input-container">
            <input formControlName="port" type="number" name="port" class="peer" placeholder=" " required="">
            <label class="input-label">Port</label>
            <p-message *ngIf="port.touched && (!port.hasError('required') && !port.hasError('pattern'))"
                severity="success"></p-message>
            <p-message *ngIf="port.touched && port.hasError('required')" severity="error"></p-message>
            <p-message *ngIf="port.touched && port.hasError('pattern')" severity="error">Port format is invalid
            </p-message>
            <small *ngIf="port.touched && port.hasError('required')" class="p-error">Port shoild be fill.</small>
            <small *ngIf="port.touched && port.hasError('pattern')" class="p-error">Port format is invalid</small>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="ipAddress" type="text" name="ipAddress" class="peer" placeholder=" " required="">
            <label class="input-label">Ip Address</label>
            <p-message *ngIf="ipAddress.touched && (!ipAddress.hasError('required') && !ipAddress.hasError('pattern'))"
                severity="success"></p-message>
            <p-message *ngIf="ipAddress.touched && ipAddress.hasError('required')" severity="error"></p-message>
            <p-message *ngIf="ipAddress.touched && ipAddress.hasError('pattern')" severity="error"></p-message>
            <small *ngIf="ipAddress.touched && ipAddress.hasError('required')" class="p-error">IP Address should be
                fill.</small>
            <small *ngIf="ipAddress.touched && ipAddress.hasError('pattern')" class="p-error">IP Address format is
                invalid.</small>
        </div>
        <div class="input-container">
            <p-dropdown autoWidth="false" emptyMessage="Loading..." [style]="{'width':'100%'}" (onChange)="onChange($event)" [filter]="true"
                [options]="channelTypeGroupInterfaces" [showClear]="showClear" appendTo="body" class="channel-type"
                filterBy="name" formControlName="channelType" optionLabel="name" placeholder="Select Channel Type"
                scrollHeight="150px" styleClass="msgTemplate"></p-dropdown>
            <p-message *ngIf="channelType.touched && !channelType.hasError('required')" severity="success"></p-message>
            <p-message *ngIf="channelType.touched && channelType.hasError('required')" severity="error"></p-message>
            <small *ngIf="channelType.touched && channelType.hasError('required')" class="p-error">Channel Type
                should be
                fill.</small>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <div class="m-auto space-x-2">
                <section>
                    <p-checkbox [binary]="true" formControlName="isOnPremise"></p-checkbox>
                    <label class="ml-2">On Premise</label>
                </section>
            </div>
        </div>
    </div>
    <div class="text-center">
        <mat-dialog-actions align="end">
            <p-button class="cancel-button" label="Cancel" mat-dialog-close="true" styleClass="p-button-sm"></p-button>
            <p-button (onClick)="onCreateChannel()" *ngIf="channelService.buttonStatus == 'create'"
                [disabled]="form.invalid" [loading]="showLoading" class="create-button ml-3" label="Create"
                styleClass="p-button-sm"></p-button>
            <p-button (onClick)="onUpdateChannel()" *ngIf="channelService.buttonStatus == 'edit'"
                [disabled]="disableStatus" [loading]="showLoading" class="create-button ml-3" label="Save"
                styleClass="p-button-sm"></p-button>
        </mat-dialog-actions>
    </div>
</form>