<form action="">
    <div class="form-filled-container">
        <div class="input-container">
            <input type="text" class="peer" placeholder=" ">
            <label for="" class="input-label">Name Settings</label>
        </div>
        <div class="input-container">
            <input type="number" class="peer" placeholder=" ">
            <label for="" class="input-label">Value</label>
        </div>
    </div>
    <mat-dialog-actions>
        <p-button label="Close" mat-dialog-close="true" class="cancel-button"></p-button>
        <p-button label="Create" class="create-button ml-3"></p-button>
    </mat-dialog-actions>
</form>