<form [formGroup]="form" class="p-8">
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="fieldId" type="number" class="peer" placeholder=" " required="">
            <label class="input-label">Field ID</label>
            <p-message *ngIf="isoFieldId.touched && !isoFieldId.hasError('required')" severity="success"></p-message>
            <p-message *ngIf="isoFieldId.touched && isoFieldId.hasError('required')" severity="error"></p-message>
            <small *ngIf="isoFieldId.touched && isoFieldId.hasError('required')" class="p-error">Iso Field ID should be fill.</small>
        </div>

        <div class="input-container">
            <p-dropdown [filter]="true" [options]="DialectMsgTemplateOptionList" appendTo="body"
            filterBy="name" placeholder="Select Field Format"  [style]="{'width':'100%'}" 
            optionLabel="name" [showClear]="showClearButton" styleClass="msgTemplate" (onChange)="onChange($event)"
            formControlName="fieldFormat"></p-dropdown>
            <p-message *ngIf="attributeId.touched && !attributeId.hasError('required')" severity="success"></p-message>
            <p-message *ngIf="attributeId.touched && attributeId.hasError('required')" severity="error"></p-message>
            <small *ngIf="attributeId.touched && attributeId.hasError('required')" class="p-error">Field Format should be fill.</small>
        </div>
        
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="encoding" type="number" class="peer" placeholder=" " required="">
            <label class="input-label">Encoding</label>
        </div>
        <div class="input-container">
            <input formControlName="isoConfigId" type="number" class="peer" placeholder=" " required="">
            <label class="input-label">Iso Config ID</label>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="description" type="number" class="peer" placeholder=" "
                required="">
            <label class="input-label">Description</label>
            <p-message *ngIf="tagNumber.touched && !tagNumber.hasError('required')" severity="success"></p-message>
            <p-message *ngIf="tagNumber.touched && tagNumber.hasError('required')" severity="error"></p-message>
            <small *ngIf="tagNumber.touched && tagNumber.hasError('required')" class="p-error">Tag Number should be
                fill.</small>
        </div>
        <div class="input-container">
            <input formControlName="tagNumber" type="number" class="peer" placeholder=" "
                required="">
            <label class="input-label">Field Length</label>
        </div>
        <div class="input-container">
            <div class="m-auto space-x-2">
                <section>
                    <p-checkbox [binary]="true" formControlName="hasChild"></p-checkbox>
                    <label class="ml-2">has Child</label>
                </section>
            </div>
        </div>
        <div class="input-container">
            <div class="m-auto space-x-2">
                <section>
                    <p-checkbox [binary]="true" formControlName="fieldCondId"></p-checkbox>
                    <label class="ml-2">Field Cond ID</label>
                </section>
            </div>
        </div>
    </div>

    <mat-dialog-actions align="end">
        <p-button class="cancel-button"(onClick)="backButton()" label="Cancel" mat-dialog-close="true" styleClass="p-button-sm"></p-button>
        <p-button (onClick)="onCreateIsoField()" *ngIf="isoFieldConfigurationService.buttonStatus== 'create'"
            [disabled]="form.invalid" [loading]="showLoading" class="create-button ml-3" label="Create"
            styleClass="p-button-sm">
        </p-button>
        <p-button (onClick)="onUpdateIsoField()" *ngIf="isoFieldConfigurationService.buttonStatus == 'edit'"
            [disabled]="disableStatus" [loading]="showLoading" class="create-button ml-3" label="Save"
            styleClass="p-button-sm"></p-button>
    </mat-dialog-actions>
</form>