<form [formGroup]="form" class="p-8">
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="fieldId" type="number" class="peer" placeholder=" " required="">
            <label class="input-label">Field ID</label>
            <p-message *ngIf="fieldId.touched && !fieldId.hasError('required')" severity="success"></p-message>
            <p-message *ngIf="fieldId.touched && fieldId.hasError('required')" severity="error"></p-message>
            <small *ngIf="fieldId.touched && fieldId.hasError('required')" class="p-error">Iso Field ID should be
                fill.</small>
        </div>

        <div class="input-container">
            <p-dropdown [filter]="true" [options]="fieldFormatInterface" appendTo="body" filterBy="name"
                placeholder="Select Field Format" [style]="{'width':'100%'}" optionLabel="name"
                [showClear]="showClearButton" styleClass="msgTemplate" (onChange)="onChange($event)"
                formControlName="fieldFormat"></p-dropdown>
            <p-message *ngIf="fieldFormat.touched && !fieldFormat.hasError('required')" severity="success"></p-message>
            <p-message *ngIf="fieldFormat.touched && fieldFormat.hasError('required')" severity="error"></p-message>
            <small *ngIf="fieldFormat.touched && fieldFormat.hasError('required')" class="p-error">Field Format should
                be fill.</small>
        </div>

    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <p>Encoding</p>
            <p-dropdown autoWidth="false" emptyMessage="Loading..." [style]="{'width':'100%'}"
                (onChange)="onChange($event)" [filter]="true" [options]="encodingInterface"
                [showClear]="showClearButton" appendTo="body" filterBy="name" formControlName="encoding"
                optionLabel="name" placeholder="Select Encoding" scrollHeight="150px"></p-dropdown>
            <div class="message">
                <p-message *ngIf="encoding.touched && !encoding.hasError('required')" severity="success"></p-message>
                <p-message *ngIf="encoding.touched && encoding.hasError('required')" severity="error">
                </p-message>
                <small *ngIf="encoding.touched && encoding.hasError('required')" class="p-error">Encoding
                    should be
                    fill.</small>
            </div>
        </div>
        <div class="input-container">
            <p>Config ID</p>
            <p-dropdown autoWidth="false" emptyMessage="Loading..." [style]="{'width':'100%'}"
                (onChange)="onChange($event)" [filter]="true" [options]="isoConfigurationInterface"
                [showClear]="showClearButton" appendTo="body" filterBy="name" formControlName="isoConfiguration"
                optionLabel="name" placeholder="Select Config ID" scrollHeight="150px"></p-dropdown>
            <div class="message">
                <p-message *ngIf="isoConfiguration.touched && !isoConfiguration.hasError('required')"
                    severity="success"></p-message>
                <p-message *ngIf="isoConfiguration.touched && isoConfiguration.hasError('required')" severity="error">
                </p-message>
                <small *ngIf="isoConfiguration.touched && isoConfiguration.hasError('required')" class="p-error">Config
                    ID
                    should be
                    fill.</small>
            </div>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="description" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">Description</label>
            <p-message *ngIf="description.touched && !description.hasError('required')" severity="success"></p-message>
            <p-message *ngIf="description.touched && description.hasError('required')" severity="error"></p-message>
            <small *ngIf="description.touched && description.hasError('required')" class="p-error">Description should be
                fill.</small>
        </div>
        <div class="input-container">
            <input formControlName="fieldLength" type="number" class="peer" placeholder=" " required="">
            <label class="input-label">Field Length</label>
        </div>
        <div class="input-container">
            <div class="m-auto space-x-2">
                <section>
                    <p-checkbox [(ngModel)]="isChecked" [binary]="true" formControlName="hasChild"></p-checkbox>
                    <label class="ml-2">has Subfield</label>
                </section>
            </div>
        </div>
        <div class="input-container">
            <div class="input-container">
                <input readonly value="null" formControlName="isofieldCondition">
                <label class="input-label">Conditional ID</label>
            </div>
        </div>
    </div>
    <div style="margin-top: 2rem;" *ngIf="isChecked">
        <app-subfield-table></app-subfield-table>
    </div>
    <mat-dialog-actions align="end">
        <p-button class="cancel-button" label="Cancel" mat-dialog-close="true" styleClass="p-button-sm"></p-button>
        <p-button (onClick)="onCreateIsoField()" *ngIf="isoFieldConfigurationService.buttonStatus== 'create'"
            [disabled]="form.invalid" [loading]="showLoading" class="create-button ml-3" label="Create"
            styleClass="p-button-sm">
        </p-button>
        <p-button (onClick)="onUpdateIsoField()" *ngIf="isoFieldConfigurationService.buttonStatus == 'edit'"
            [loading]="showLoading" class="create-button ml-3" label="Save" styleClass="p-button-sm"></p-button>
    </mat-dialog-actions>


</form>