.field {
    @apply
    flex
    flex-col
    flex-nowrap
}

:host ::ng-deep .p-dropdown {
    width: 100%;
}

.has-child-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.action-button-group {
    margin-top: 10px;
  }
  
  .cancel-button {
    margin-right: 10px;
  }
  
  .save-button {
    margin-right: 20px;
  }

  /*PrimeNg deep styles*/
:host ::ng-deep .cancel-button .p-button,
:host ::ng-deep .cancel-button .p-button:enabled:hover {
  background-color: #ef4444;
  border-color: #ef4444;
}
  