<div class="grid grid-cols-12 gap-3 space-y-3">
    <div class="grid-container shadow-md col-span-12">
        <div class="pl-4 pt-2">
            <input type="checkbox">
            <label class="ml-3">Update every 60 seconds</label>
        </div>
        <div class="p-4">
            <app-alert-analysis-table></app-alert-analysis-table>
        </div>
    </div>
    <div class="grid-container shadow-md col-span-6">
        <div class="p-4">
         <app-alert-queue-table></app-alert-queue-table>
        </div>
    </div>
    <div class="grid-container shadow-md col-span-6">
        <div class="p-4">
         <app-alert-rejected-table></app-alert-rejected-table>
        </div>
    </div>
</div>