:host ::ng-deep .mat-menu-content {
    display: flex;
    flex-direction: column;
  }
  
  :host ::ng-deep .mat-menu-content:not(:empty) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .edit-button {
    padding-top: .5rem;
  }

  .reset-button {
    padding-top: .5rem;
  }
  
  .edit-button,
  .delete-button,
  .reset-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
  }
  
  .edit-button:hover,
  .delete-button:hover,
  .reset-button:hover {
    /*background-color: #919aa3;*/
  }
  
  .edit-icon,
  .delete-icon,
  .reset-icon {
    margin: 0 10px;
    font-size: 20px;
  }
  
  .delete-icon,
  .delete-text {
    color: red;
  }