<div>
  <div class="grid grid-cols-1 gap-8 p-4 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Value card -->
    <div
      class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker"
    >
      <div>
        <h6
          class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
        >
          Transaction Success
        </h6>
        <span class="text-xl text-green-500 font-semibold">$30,000</span>
        <span
          class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md"
        >
          +4.4%
        </span>
      </div>
      <div>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="green"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </div>
      
    </div>
    
    <!-- Users card -->
    <div
      class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker"
    >
      <div>
        <h6
          class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
        >
          Failed
        </h6>
        <span class="text-xl font-semibold text-red-500">50,021</span>
        <span
          class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md"
        >
          +2.6%
        </span>
      </div>
      <div>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="red"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
            />
          </svg>
        </span>
      </div>
    </div>

    <!-- Orders card -->
    <div
      class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker"
    >
      <div>
        <h6
          class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
        >
          Pending
        </h6>
        <span class="text-xl font-semibold text-yellow-200">45,021</span>
        <span
          class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md"
        >
          +3.1%
        </span>
      </div>
      <div>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="yellow"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </span>
      </div>
    </div>

    <!-- Tickets card -->
    <div
      class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker"
    >
      <div>
        <h6
          class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
        >
          Transaction Declined
        </h6>
        <span class="text-xl font-semibold text-blue-500">20,516</span>
        <span
          class="inline-block px-2 py-px ml-2 text-xs text-green-500 bg-green-100 rounded-md"
        >
          +3.1%
        </span>
      </div>
      <div>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="blue"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
            />
          </svg>
        </span>
      </div>
    </div>
  </div>

  <div
    class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-1"
  >
    <!-- Active users chart -->
    <div class="col-span-1 bg-white rounded-md dark:bg-darker">
      <!-- Card header -->
      <div class="p-4 border-b dark:border-primary">
        <h4 class="text-lg font-semibold text-gray-500 dark:text-light">
          Transaction Rate
        </h4>
      </div>
      <p class="p-4">
        <span
          class="text-2xl font-medium text-gray-500 dark:text-light"
          id="usersCount"
        ></span>
        <span class="text-sm font-medium text-gray-500 dark:text-primary"
          ></span
        >
      </p>
      <!-- Chart -->
      <div class="relative p-4">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand"><div class=""></div></div>
          <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
        </div>
        <canvas
          id="activeUsersChart"
          width="394"
          height="300"
          style="display: block; height: 150px; width: 197px"
          class="chartjs-render-monitor"
        ></canvas>
      </div>
    </div>

    
    <div class="col-span-1 bg-white rounded-md dark:bg-darker">
      <!-- Card header -->
      <div class="p-4 border-b dark:border-primary">
        <h4 class="text-lg font-semibold text-gray-500 dark:text-light">
          Interfaces List
        </h4>
      </div>
      <p class="p-4">
        <span
          class="text-2xl font-medium text-gray-500 dark:text-light"
          id="usersCount"
        ></span>
        <span class="text-sm font-medium text-gray-500 dark:text-primary"
          ></span
        >
      </p>
      <!-- Chart -->
      <div class="relative p-4">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand"><div class=""></div></div>
          <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
        </div>
        <canvas
          id="activeUsersChart"
          width="394"
          height="300"
          style="display: block; height: 150px; width: 197px"
          class="chartjs-render-monitor"
        ></canvas>
      </div>
    </div>
  </div>
</div>
