<div>
  <app-transaction-status></app-transaction-status>
  <div class="dashboard-content">
    <div class="grid-container">
      <div class="grid-header">
        <h4>Transaction Rate</h4>
      </div>
      <div class="p-4">
        <app-transaction-rate></app-transaction-rate>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-header">
        <h4>Interfaces List</h4>
      </div>
      <div class="relative p-4">
        <app-interface-list></app-interface-list>
      </div>
    </div>
  </div>
</div>