<div class="table-container">
    <table class="min-w-full">
        <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
                <th scope="col">
                    Transaction Date
                </th>
                <th scope="col">
                    Network Date
                </th>
                <th scope="col">
                    MTI
                </th>
                <th scope="col">
                    HPAN
                </th>
                <th scope="col">
                    Merchant Id
                </th>
                <th scope="col">
                    Merchant Type
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>