 .table-container {
  width: 1100px;
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.table-container th {
  @apply  text-xs tracking-wider text-left text-gray-700 uppercase dark:text-gray-400;
}

.table-container td {
  @apply  text-center;
}
/*
.mat-header-cell {
  @apply bg-gray-300;
} */

table {
  width: 1100px;
}


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.mat-table {
  display: table;
  border-collapse: collapse;
  
 }
 
 .mat-row,
 .mat-header-row {
  display: table-row;
 }

 .mat-cell,
 .mat-header-cell {
  cursor: pointer;
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
 }
 
 .filter {
  display: block;
}

/* .mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
} */

