<form [formGroup]="form" action="">
    <div class="form-filled-container">
        <div class="input-container">
            <input type="text" class="peer" required>
            <label for="" class="input-label">Name</label>
        </div>
        <div class="input-container">
            <input type="text" class="peer" required>
            <label for="" class="input-label">Description</label>
        </div>
    </div>
    <mat-dialog-actions>
        <p-button class="cancel-button"
            label="Cancel"
            mat-dialog-close="true"
            styleClass="p-button-sm"></p-button>
  <p-button (onClick)="onCreateResponseMapping()" *ngIf="responseService.buttonStatus == 'create'"
            [disabled]="form.invalid"
            class="create-button" label="Create"
            styleClass="p-button-sm"></p-button>
  <p-button (onClick)="onUpdateResponseMapping()" *ngIf="responseService.buttonStatus == 'edit'"
            [disabled]="disableButton" class="create-button"
            label="Save"
            styleClass="p-button-sm"></p-button>
    </mat-dialog-actions>
</form>