<form [formGroup]="formGroup" class="p-8">
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="respCode" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">Response Code</label>
            <p-message *ngIf="respCode.touched && !respCode.hasError('required')" severity="success">
            </p-message>
            <p-message *ngIf="respCode.touched && respCode.hasError('required')" severity="error">
            </p-message>
            <small *ngIf="respCode.touched && respCode.hasError('required')" class="p-error">Response Code should
                be
                fill.</small>
        </div>
        <div class="input-container">
            <input formControlName="description" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">Description</label>
            <p-message *ngIf="description.touched && !description.hasError('required')" severity="success"></p-message>
            <p-message *ngIf="description.touched && description.hasError('required')" severity="error"></p-message>
            <small *ngIf="description.touched && description.hasError('required')" class="p-error">Description should
                be
                fill.</small>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <p>Config ID</p>
            <p-dropdown autoWidth="false" emptyMessage="Loading..." [style]="{'width':'100%'}"
                (onChange)="onChange($event)" [filter]="true" [options]="configIds"
                [showClear]="showClear" appendTo="body" filterBy="name" formControlName="isoConfiguration" optionLabel="name"
                placeholder="Select Config ID" scrollHeight="150px"></p-dropdown>
            <div class="message">
                <p-message *ngIf="isoConfiguration.touched && !isoConfiguration.hasError('required')" severity="success"></p-message>
                <p-message *ngIf="isoConfiguration.touched && isoConfiguration.hasError('required')" severity="error">
                </p-message>
                <small *ngIf="isoConfiguration.touched && isoConfiguration.hasError('required')" class="p-error">Config ID
                    should be
                    fill.</small>
            </div>
        </div>
    </div>

    <mat-dialog-actions align="end">
        <p-button class="cancel-button" label="Cancel" mat-dialog-close="true" styleClass="p-button-sm"></p-button>
        <p-button (onClick)="onCreateResponseCodeMapping()" *ngIf="responseService.buttonStatus== 'create'"
            [disabled]="formGroup.invalid" [loading]="showLoading" class="create-button ml-3" label="Create"
            styleClass="p-button-sm">
        </p-button>
        <p-button (onClick)="onUpdateResponseCodeMapping()" *ngIf="responseService.buttonStatus == 'edit'"
            [disabled]="disableStatus" [loading]="showLoading" class="create-button ml-3" label="Save"
            styleClass="p-button-sm"></p-button>
    </mat-dialog-actions>
</form>