<div class="transaction-list-container">
    <div class="card-container">
        <div class="card-content ml-3">
            <div class="card-header">
                <ng-content select=".device"></ng-content>
                <app-action-button-interface></app-action-button-interface>
            </div>
            <br>
            <ng-content select=".ip-address"></ng-content>
            <br>
            <ng-content select=".port"></ng-content>
            <br>
            <ng-content select=".status"></ng-content>
            <br>
            <ng-content select=".last-update"></ng-content>
        </div>
    </div>
</div>