<div class="flex mt-10 space-x-4">
    <div class="card-container">
        <div class="card-content ml-3">
            <div class="flex space-x-2" style="width: 100%; justify-content: space-between;">
                <img class="w-16 shadow rounded-full max-w-full h-auto align-middle border-none"
                    src="../../../../assets/laptop.svg" alt="Cookie Icon SVG">
                <span class="mt-4">Macbook Pro</span>
                <app-action-button-interface></app-action-button-interface>
            </div>
            <br>
            <span>IP : 192.168.1.42</span>
            <br>
            <span>Port : 88</span>
            <br>
            <span>Status: <p-tag severity="success" value="Active"></p-tag></span>
            <br>
            <span class="text-gray-500/40">Last Update: 16/06/2022</span>
        </div>

    </div>

    <div class="card-container">
        <div class="card-content ml-3">
            <div class="flex space-x-2" style="width: 100%; justify-content: space-between;">
                <img class="w-16 shadow rounded-full max-w-full h-auto align-middle border-none"
                    src="../../../../assets/laptop.svg" alt="Cookie Icon SVG">
                <span class="mt-4">Thinkbook</span>
                <app-action-button-interface></app-action-button-interface>
            </div>
            <br>
            <span>IP : 192.168.1.42</span>
            <br>
            <span>Port : 88</span>
            <br>
            <span>Status: <p-tag severity="success" value="Active"></p-tag></span>
            <br>
            <span class="text-gray-500/40">Last Update: 16/06/2022</span>
        </div>
    </div>


    <div class="card-container">
        <div class="card-content ml-3">
            <div class="flex space-x-2" style="width: 100%; justify-content: space-between;">
                <img class="w-16 shadow rounded-full max-w-full h-auto align-middle border-none"
                    src="../../../../assets/laptop.svg" alt="Cookie Icon SVG">
                <span class="mt-4">Dell</span>
                <app-action-button-interface></app-action-button-interface>
            </div>
            <br>
            <span>IP : 192.168.1.42</span>
            <br>
            <span>Port : 88</span>
            <br>
            <span>Status: <p-tag severity="success" value="Active"></p-tag></span>
            <br>
            <span class="text-gray-500/40">Last Update: 16/06/2022</span>
        </div>
    </div>

    <div class="card-container">
        <div class="card-content ml-3">
            <div class="flex" style="width: 100%; justify-content: space-between;">
                <img class="w-16 shadow rounded-full max-w-full h-auto align-middle border-none"
                    src="../../../../assets/laptop.svg" alt="Cookie Icon SVG">
                <span class="mt-4">Asus</span>
                <app-action-button-interface></app-action-button-interface>
            </div>
            <br>
            <span>IP : 192.168.1.42</span>
            <br>
            <span>Port : 88</span>
            <br>
            <span>Status: <p-tag severity="success" value="Active"></p-tag></span>
            <br>
            <span class="text-gray-500/40">Last Update: 16/06/2022</span>
        </div>
    </div>
    <div class="card-container">
        <div class="card-content ml-3">
            <div class="flex" style="width: 100%; justify-content: space-between;">
                <img class="w-16 shadow rounded-full max-w-full h-auto align-middle border-none"
                    src="../../../../assets/laptop.svg" alt="Cookie Icon SVG">
                <span class="mt-4">Asus</span>
                <app-action-button-interface></app-action-button-interface>
            </div>
            <br>
            <span>IP : 192.168.1.42</span>
            <br>
            <span>Port : 88</span>
            <br>
            <span>Status: <p-tag severity="success" value="Active"></p-tag></span>
            <br>
            <span class="text-gray-500/40">Last Update: 16/06/2022</span>
        </div>
    </div>
</div>
<div class="mx-auto mt-3 text-center text-blue-700">
    <a routerLink="interface-list">View Details</a>
</div>