<div class="action-button">
  <button [matMenuTriggerFor]="menu" aria-label="Example icon-button" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="button-group">
      <button class="edit-button" (click)="takeActionButton()">
          <i class="edit-icon pi pi-check"></i>
        <span>Accept</span>
      </button>
      <button class="edit-button" (click)="forwardActionButton()">
        <i class="edit-icon pi pi-forward"></i>
        <span class="edit-text">Forward</span>
      </button>
      <button class="delete-button" (click)="deleteButton($event)">
        <i class="delete-icon pi pi-times"></i>
        <span class="delete-text">Reject</span>
      </button>
    </mat-menu>
</div>