<form [formGroup]="form" class="p-8">
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="groupName" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">User Group Name</label>
        </div>
    </div>

    <div class="text-center">
        <mat-dialog-actions align="end">
            <p-button class="cancel-button" label="Cancel" mat-dialog-close="true" styleClass="p-button-sm"></p-button>
            <p-button (onClick)="onCreateUserGroup()" [loading]="showLoading" [disabled]="form.invalid"
                *ngIf="userGroupService.buttonStatus === 'create'" class="create-button" label="Create"
                mat-dialog-close="true" styleClass="p-button-sm"></p-button>
            <p-button (onClick)="onUpdateUserGroup()" [disabled]="disableButton" [loading]="showLoading"
                *ngIf="userGroupService.buttonStatus === 'edit'" class="create-button ml-3" label="Save"
                styleClass="p-button-sm"></p-button>
        </mat-dialog-actions>
    </div>
</form>