<div>
    <mat-form-field style="font-size: 12px; width: 150px; margin-right: 15px">
        <input matInput [matDatepicker]="from" placeholder="Date From" formControlName="dateFrom" autocomplete="off">
        <mat-datepicker-toggle [for]="from" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #from></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="font-size: 12px; width: 150px; margin-right: 15px">
        <input matInput [matDatepicker]="to" placeholder="Date From" formControlName="dateFrom" autocomplete="off">
        <mat-datepicker-toggle [for]="to" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #to></mat-datepicker>
    </mat-form-field>
</div>