<div class="transaction-summary-container">
    <div class="summary-left">
        <div class="summary-item">
            <span>App Trans ID</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>Network Layer ID</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>Dst Address</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>IHL</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>Fragment Offset</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>Header Checksum</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>Version</span>
            <input readonly disabled>
        </div>
    </div>
    <div class="summary-right">
        <div class="summary-item">
            <span>Identification</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>Network Flags</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>Src Address</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>Protocol</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>TOS</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>Total Length</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>TTL</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>Captured At</span>
            <input type="text">
        </div>
    </div>
</div>