<div class="table-container">
    <table class="min-w-full">
        <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
                <th scope="col">
                    Message Format
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    Action
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- <ag-grid-angular style="width: 500px; height: 150px;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs">
    </ag-grid-angular> -->