<!-- component -->

<div class="default-container">
  <app-sidebar style="zoom: 0.9;"></app-sidebar>
  <main class="main">
    <app-header>
    </app-header>
    <div class="main-content" style="zoom:0.8;">
      <div class="px-3">
        <p class="text-lg font-semibold">{{this.urlParams2 | uppercase}}</p>
        <p class="active-route">{{ this.urlParams1 | titlecase }} - {{ this.urlParams2 | titlecase }}</p>
      </div>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </main>

</div>