.default-container {
  /* zoom: 0.8; */
  min-height: 100vh;
  @apply flex 
    flex-row 
    bg-gray-100 
    text-gray-800;
}

.active-route {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  color: #968e7e;
  font-size: 14px;
  line-height: 21px;
}

.main {
  @apply flex 
    flex-col 
    w-full;
    margin-left: 70px;
}

.main-content {
  zoom: 0.8;
  @apply p-2;
}

.main-content h1 {
  @apply font-bold 
    text-2xl 
    text-gray-700;
}
