<form [formGroup]="formGroup" class="p-8">
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="channelType" name="channelType" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Channel Type</label>
            <p-message *ngIf="channelType.touched && !channelType.hasError('required')" severity="success"></p-message>
            <p-message *ngIf="channelType.touched && channelType.hasError('required')" severity="error"></p-message>
            <small *ngIf="channelType.touched && channelType.hasError('required')" class="p-error">Channel Type should
                be
                fill.</small>
        </div>
        <div class="input-container">
            <p>ISO Dialect</p>
            <p-dropdown autoWidth="false" emptyMessage="Loading..." [style]="{'width':'100%'}"
                (onChange)="onChange($event)" [filter]="true" [options]="dialectmsgTemplateOptionList"
                [showClear]="showClear" appendTo="body" class="msgTemplate" filterBy="name"
                formControlName="messageTemplate" optionLabel="name" placeholder="Select Message Template"
                scrollHeight="150px" styleClass="msgTemplate"></p-dropdown>
            <div class="message">
                <p-message *ngIf="dialectMsgTemplate.touched && !dialectMsgTemplate.hasError('required')"
                    severity="success"></p-message>
                <p-message *ngIf="dialectMsgTemplate.touched && dialectMsgTemplate.hasError('required')"
                    severity="error">
                </p-message>
                <small *ngIf="dialectMsgTemplate.touched && dialectMsgTemplate.hasError('required')" class="p-error">ISO
                    Dialect
                    should be
                    fill.</small>
            </div>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="description" name="description" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Description</label>
            <p-message *ngIf="description.touched && !description.hasError('required')" severity="success"></p-message>
            <p-message *ngIf="description.touched && description.hasError('required')" severity="error"></p-message>
            <small *ngIf="description.touched && description.hasError('required')" class="p-error">Description should be
                fill.</small>
        </div>

    </div>

    <mat-dialog-actions align="end">
        <p-button class="cancel-button" label="Cancel" mat-dialog-close="true" styleClass="p-button-sm"></p-button>
        <p-button (onClick)="onCreateTerminalType()" *ngIf="channelTypeService.buttonStatus== 'create'"
            [disabled]="formGroup.invalid" [loading]="showLoading" class="create-button ml-3" label="Create"
            styleClass="p-button-sm">
        </p-button>
        <p-button (onClick)="onUpdateTerminalType()" *ngIf="channelTypeService.buttonStatus == 'edit'"
            [disabled]="disableStatus" [loading]="showLoading" class="create-button ml-3" label="Save"
            styleClass="p-button-sm"></p-button>
    </mat-dialog-actions>
</form>