<form #addChannelType="ngForm" class="p-8" (ngSubmit)="onAddChannelType(addChannelType.value, addChannelType.value.dialectMsgTemplateId)">
    <div class="form-filled-container">
        <div class="input-container">
            <input ngModel name="channelType" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">Channel Type</label>
        </div>
        <div class="m-auto space-x-2 text-center pb-5">
            <p>Message Template</p>
            <p-dropdown ngModel optionValue="templateId" name="dialectMsgTemplateId" [options]="msgFormat" optionLabel="description"></p-dropdown>
        </div>
    </div>
    <div>
        <div class="input-container">
            <input ngModel name="description" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Description</label>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn-submit-form">Create</button>
    </div>
</form>