<div class="login-container">
  <div class="container-box">
    <div class="container-header">
      <div class="box-forms">
        <img style="width:230px; margin-top: 20px;" src="../../../../assets/logo/crop.png" />
        <div class="p-8">
          <form [formGroup]="form" class="forms-input">
            <div class="relative">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute mt-4 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
              </svg>
              <input style="padding-left:40px;" required="" placeholder="Username" formControlName="username" type="text" name="username" />
              <p style="color: red;" *ngIf="form.controls['username'].invalid && form.controls['username'].touched">Username Required!</p>
            </div>
            <div class="relative">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute mt-4 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
              </svg>
              <input style="padding-left: 40px;" required="" placeholder="Password" formControlName="password" type="password" name="password" />
              <p style="color: red;" *ngIf="form.controls['username'].invalid && form.controls['username'].touched">Password Required!</p>
            </div>
            <button (click)="login(form.value)" [disabled]="form.invalid || showLoading">
              <span *ngIf="showLoading">Loading</span>
              <span *ngIf="!showLoading">Login</span>
            </button>
          </form>
        </div>
        <div class="forms-footer">
          <p>Tapping Management System</p>
        </div>
      </div>
    </div>
  </div>
</div>