<div class="login-container">
  <div class="container-box">
    <div class="container-header">
      <img src="../../../../assets/logo/tms-logo1.png" />
      <div class="box-forms">
        <div class="p-8">
          <form [formGroup]="form" class="forms-input">
            <div>
              <label for="username">Username</label>
              <input required="" formControlName="username" type="text" name="username" />
            </div>
            <div>
              <label for="password">Password</label>
              <input required="" formControlName="password" type="password" name="password" />
            </div>
            <button (click)="login(form.value)">Login</button>
          </form>
        </div>
        <div class="forms-footer">
          <p>Tapping Management System</p>
        </div>
      </div>
    </div>
  </div>
</div>