<div class="table-container">
    <table class="min-w-full">
        <thead class="bg-indigo-500 dark:bg-indigo-700 text-white">
            <tr>
                <th scope="col">
                    Nama Type
                </th>
                <th scope="col">
                    Message Format
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- <ag-grid-angular style="width: 500px; height: 150px;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs">
    </ag-grid-angular> -->