<div class="grid-container">
    <div class="grid-header">
        <div class="search-container">
            <span class="search-icon bx bx-search">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
            </span>
            <input (input)="onFilterTextBoxChange()" id="search-input" type="text" class="search-input" placeholder="Search">
        </div>
        <div class="grid-header-right">
            <p-button (onClick)="refreshTable()" icon="pi pi-refresh" class="mr-3"></p-button>
            <p-button (onClick)="editDialog()" class="mr-3" label="Edit"></p-button>
            <p-button (onClick)="showDialog()" label="Create"></p-button>
        </div>
    </div>
    <div class="p-4">
        <app-table-roles></app-table-roles>
    </div>

</div>