<p-table #dt1 [columns]="cols" [loading]="loading" [value]="deviceMonitorings" [paginator]="true"
  [rowsPerPageOptions]="[10, 25, 50]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rows]="10" scrollHeight="400px" [autoLayout]="true"
  (onRowSelect)="onRowSelect($event)" styleClass="p-datatable-gridlines" selectionMode="single">
  <ng-template pTemplate="caption">
    <div class="flex justify-between">
      <div class="search-buttons">
        <span class="p-input-icon-left ml-auto">
          <span class="search-icon-transaction bx bx-search">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </span>
          <input #textInput (input)="dt1.filterGlobal(textInput.value, 'contains')" id="search-filter"
            class="search-input" type="text" placeholder="Search">
        </span>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="min-width:100px;" *ngFor="let col of cols">
        {{col.header}}
      </th>
      <th>
        Status
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [ngClass]="{'row-odd': rowIndex % 2 == 1}">
      <td style="min-width:100px;" *ngFor="let col of cols">
        {{rowData[col.field]}}
      </td>
      <td>
        <span [ngClass]="!rowData.status ? 'active' : 'notActive'"></span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="9">There are no data</td>
    </tr>
  </ng-template>
</p-table>