<form #addMsgFormat="ngForm" class="p-8" (ngSubmit)="onAddMsgFormat(addMsgFormat.value)">
    <div class="form-filled-container">
        <div class="input-container">
            <input ngModel type="text" name="messageFormat" class="peer" placeholder=" "
                required="">
            <p-message *ngIf="messageFormat.touched && !messageFormat.hasError('required')" severity="success">
            </p-message>
            <p-message *ngIf="messageFormat.touched && messageFormat.hasError('required')" severity="error"></p-message>
            <label for="messageFormat" class="input-label">Message Format</label>
        </div>
        <div class="input-container">
            <input ngModel type="text" name="description" class="peer" placeholder=" ">
            <label for="description" class="input-label">Description</label>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn-submit-form-create">Create</button>
    </div>
</form>