<form [formGroup]="form" class="p-8">
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="firstName" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">First Name</label>
        </div>
        <div class="input-container">
            <input formControlName="lastName" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">Last Name</label>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="username" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">Username</label>
        </div>
        <div class="input-container">
            <input type="email" class="peer" formControlName="email" placeholder=" " required="">
            <label class="input-label">Email</label>
        </div>
    </div>
    <div>
        <div class="form-filled-container">
            <div class="input-container">
                    <p-dropdown autoWidth="false" emptyMessage="Loading..." [style]="{'width':'100%'}"
                    (onChange)="onChange($event)" [filter]="true" [options]="roleInterface"
                    [showClear]="showClearButton" appendTo="body" class="msgTemplate" filterBy="name"
                    formControlName="role" optionLabel="name" placeholder="Select Roles"
                    scrollHeight="150px" styleClass="msgTemplate"></p-dropdown>
            </div>
            <div class="input-container">
                <p-dropdown autoWidth="false" lazy="true" emptyMessage="Loading..." [style]="{'width':'100%'}" (onChange)="onChange($event)" [filter]="true"
                    [options]="institutionInterface" [showClear]="showClearButton" appendTo="body" filterBy="name"
                    formControlName="institution" optionLabel="name" placeholder="Select Institutions" scrollHeight="150px"
                    styleClass="msgTemplate"></p-dropdown>
            </div>
        </div>
        <div class="form-filled-container">
            <div class="input-container">
                <p-dropdown autoWidth="false" lazy="true" emptyMessage="Loading..." [style]="{'width':'100%'}" (onChange)="onChange($event)" [filter]="true"
                [options]="typeInterface" [showClear]="showClearButton" appendTo="body"
                filterBy="name" formControlName="type" optionLabel="name" placeholder="Select Types"
                scrollHeight="150px" styleClass="msgTemplate"></p-dropdown>
            </div>
            <div class="input-container">
                <p-dropdown autoWidth="false" lazy="true" emptyMessage="Loading..." [style]="{'width':'100%'}" (onChange)="onChange($event)" [filter]="true"
                [options]="userGroupInterface" [showClear]="showClearButton" appendTo="body"
                filterBy="name" formControlName="userGroup" optionLabel="name" placeholder="Select UserGroups"
                scrollHeight="150px" styleClass="msgTemplate"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="m-auto space-x-2">
            <section>
                <mat-checkbox class="example-margin" formControlName="isActive">
                    Active
                </mat-checkbox>
            </section>
        </div>
        <div class="m-auto space-x-2">
            <section>
                <mat-checkbox class="example-margin" formControlName="isNonLocked">
                    Lock
                </mat-checkbox>
            </section>
        </div>
    </div>
    <div class="text-center">
        <mat-dialog-actions align="end">
            <p-button class="cancel-button" label="Cancel" mat-dialog-close="true" styleClass="p-button-sm"></p-button>
            <p-button (onClick)="onCreateUser()" *ngIf="userService.buttonStatus == 'create'" [disabled]="form.invalid"
                [loading]="showLoading" class="create-button ml-3" label="Create" styleClass="p-button-sm"></p-button>
            <p-button (onClick)="onUpdateUser()" *ngIf="userService.buttonStatus == 'edit'" [disabled]="disableButton"
                [loading]="showLoading" class="create-button ml-3" label="Save" styleClass="p-button-sm"></p-button>
        </mat-dialog-actions>
    </div>
</form>