#sidebar {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 100%;
  position: fixed;
  z-index: 999;
  overflow-x: auto;
  color: #3f6b6e;
  margin-left: 0;
  width: 5rem;
  background-color: white;
}

#sidebar:hover {
  width: 16rem;
}

#sidebar ul {
  padding: 0px 10px 0px 10px;
}

.img-tms {
  width: 40px;
}

.img-tms:hover {
  color: white;
}

#sidebar a {
  transition: all 0.3s;
  color: #3f6b6e;
  border-radius: 10px;
  @apply no-underline block text-xs text-center mt-5
  cursor-pointer;
}

#sidebar p {
  @apply text-xs hidden;
}

#sidebar:hover a {
  @apply flex pl-2 text-left text-sm items-center;
}

#sidebar:hover p {
  @apply block text-base
  ml-4;
}

#sidebar a:hover {
  color: white;
  background-image: linear-gradient(to right, #3e6b6d, #0d9aa3);
}

.dropdown:hover > .dropdown-content {
  display: block;
}
