<nav id="sidebar">
  <div class="dropend relative" id="sidenavSecExample">
    <ul>
      <li>
        <a routerLink="">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4">home</mat-icon>
          <p>Dashboard</p>
        </a>
      </li>

      <li id="dropdown-investigation">
        <a data-mdb-ripple="true" data-mdb-ripple-color="primary" data-bs-toggle="collapse"
          data-bs-target="#collapsedropdown-investigation">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ">description</mat-icon>
          <p>Investigation</p>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ml-auto">expand_more</mat-icon>
        </a>
        <ul class="items-dropdown accordion-collapse collapse" id="collapsedropdown-investigation"
          aria-labelledby="dropdown-investigation" data-bs-parent="#sidenavSecExample">
          <li>
            <a routerLink="investigation/alert-analysis" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>Alert Analysis</p>
            </a>
          </li>
        </ul>
      </li>

      <li id="dropdown-acquirer">
        <a data-mdb-ripple="true" data-mdb-ripple-color="primary" data-bs-toggle="collapse"
          data-bs-target="#collapsedropdown-acquirer">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ">description</mat-icon>
          <p>Acquirer</p>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ml-auto">expand_more</mat-icon>
        </a>
        <ul class="items-dropdown accordion-collapse collapse" id="collapsedropdown-acquirer"
          aria-labelledby="dropdown-acquirer" data-bs-parent="#sidenavSecExample">
          <li>
            <a routerLink="acquirer/terminal-list" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>Terminal List</p>
            </a>
          </li>
          <li>
            <a routerLink="acquirer/alert" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>Alert</p>
            </a>
          </li>
        </ul>
      </li>

      <li id="dropdown-issuer">
        <a data-mdb-ripple="true" data-mdb-ripple-color="primary" data-bs-toggle="collapse"
          data-bs-target="#collapsedropdown-issuer">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-3 w-3 ">description</mat-icon>
          <p>Issuer</p>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ml-auto">expand_more</mat-icon>
        </a>
        <ul class="items-dropdown accordion-collapse collapse" id="collapsedropdown-issuer"
          aria-labelledby="dropdown-issuer" data-bs-parent="#sidenavSecExample">
          <li>
            <a routerLink="issuer/terminal-list" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>Terminal List</p>
            </a>
          </li>
          <li>
            <a routerLink="issuer/alert" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>Alert</p>
            </a>
          </li>
        </ul>
      </li>

      <li id="dropdown-message-format">
        <a data-mdb-ripple="true" data-mdb-ripple-color="primary" data-bs-toggle="collapse"
          data-bs-target="#collapsedropdown-message-format">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ">description</mat-icon>
          <p>Message Format</p>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ml-auto">expand_more</mat-icon>
        </a>
        <ul class="items-dropdown accordion-collapse collapse" id="collapsedropdown-message-format"
          aria-labelledby="dropdown-message-format" data-bs-parent="#sidenavSecExample">
          <li>
            <a routerLink="message-format/iso8583-format" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>ISO8583 Format</p>
            </a>
          </li>
        </ul>
      </li>

      <li id="dropdown-external-interfaces">
        <a data-mdb-ripple="true" data-mdb-ripple-color="primary" data-bs-toggle="collapse"
          data-bs-target="#collapsedropdown-external-interfaces">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ">description</mat-icon>
          <p>External Interfaces</p>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ml-auto">expand_more</mat-icon>
        </a>
        <ul class="items-dropdown accordion-collapse collapse" id="collapsedropdown-external-interfaces"
          aria-labelledby="dropdown-external-interfaces" data-bs-parent="#sidenavSecExample">
          <li>
            <a data-bs-target="#collapsedropdown-iso-config" data-bs-toggle="collapse"
              routerLink="external-interfaces/terminal-list" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>ISO Config</p>
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ml-auto">expand_more
              </mat-icon>
            </a>
            <ul class="items-dropdown accordion-collapse collapse" id="collapsedropdown-iso-config">
              <li>
                <a routerLink="external-interfaces/alert" data-mdb-ripple="true" data-mdb-ripple-color="primary">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
                  <p>Dialect</p>
                </a>
              </li>
              <li>
                <a routerLink="external-interfaces/alert" data-mdb-ripple="true" data-mdb-ripple-color="primary">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
                  <p>Field Config</p>
                </a>
              </li>
              <li>
                <a routerLink="external-interfaces/alert" data-mdb-ripple="true" data-mdb-ripple-color="primary">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
                  <p>Response Mapping</p>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="external-interfaces/alert" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>ISO 20022</p>
            </a>
          </li>
          <li>
            <a routerLink="external-interfaces/alert" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>JSON Config</p>
            </a>
          </li>
          <li>
            <a routerLink="external-interfaces/alert" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>NDC</p>
            </a>
          </li>
          <li>
            <a routerLink="external-interfaces/alert" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>XML Config</p>
            </a>
          </li>
        </ul>
      </li>

      <li id="dropdown-channel-configuration">
        <a data-mdb-ripple="true" data-mdb-ripple-color="primary" data-bs-toggle="collapse"
          data-bs-target="#collapsedropdown-channel-configuration">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ">description</mat-icon>
          <p>Channel Config</p>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ml-auto">expand_more</mat-icon>
        </a>
        <ul class="items-dropdown accordion-collapse collapse" id="collapsedropdown-channel-configuration"
          aria-labelledby="dropdown-channel-configuration" data-bs-parent="#sidenavSecExample">
          <li>
            <a routerLink="channel-configuration/channel" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>Channel</p>
            </a>
          </li>
          <li>
            <a routerLink="channel-configuration/channel-type" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>Channel Type</p>
            </a>
          </li>
        </ul>
      </li>

      <li id="dropdown-transaction">
        <a routerLink="transaction" data-mdb-ripple="true" data-mdb-ripple-color="primary">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ">description</mat-icon>
          <p>Transaction</p>
        </a>
      </li>

      <li id="dropdown-user-management">
        <a data-mdb-ripple="true" data-mdb-ripple-color="primary" data-bs-toggle="collapse"
          data-bs-target="#collapsedropdown-user-management">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ">description</mat-icon>
          <p>User Management</p>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ml-auto">expand_more</mat-icon>
        </a>
        <ul class="items-dropdown accordion-collapse collapse" id="collapsedropdown-user-management"
          aria-labelledby="dropdown-user-management" data-bs-parent="#sidenavSecExample">
          <li>
            <a routerLink="user-management/private-scheme" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>Scheme</p>
            </a>
          </li>
          <li>
            <a routerLink="user-management/roles" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>Roles</p>
            </a>
          </li>
          <li>
            <a routerLink="user-management/user" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>User</p>
            </a>
          </li>
        </ul>
      </li>

      <li id="dropdown-system">
        <a data-mdb-ripple="true" data-mdb-ripple-color="primary" data-bs-toggle="collapse"
          data-bs-target="#collapsedropdown-system">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ">description</mat-icon>
          <p>System</p>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-4 w-4 ml-auto">expand_more</mat-icon>
        </a>
        <ul class="items-dropdown accordion-collapse collapse" id="collapsedropdown-system"
          aria-labelledby="dropdown-system" data-bs-parent="#sidenavSecExample">
          <li>
            <a routerLink="system/arp" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>ARP</p>
            </a>
          </li>
          <li>
            <a routerLink="system/system-parameters" data-mdb-ripple="true" data-mdb-ripple-color="primary">
              <mat-icon aria-hidden="false" aria-label="Example home icon" class="h-2 w-2">folder</mat-icon>
              <p>System Params</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>