.search-transaction-container {
    @apply
    w-[300px]
    items-center
  }
  
  .search-icon-transaction {
    @apply
    absolute mt-[10px] ml-[10px]
  }
  
.notActive {
  @apply
  h-[24px]
  w-[75px]
  rounded-lg
  shadow-lg
  inline-block
  text-white
  bg-red-500
}

.active {
  @apply
  h-[24px]
  w-[75px]
  rounded-lg
  shadow-lg
  inline-block
  text-white
  bg-[#00BBC7]
}

:host ::ng-deep .p-datatable.p-datatable-gridlines .p-paginator-bottom {
  border-width: 0 !important;
}

:host ::ng-deep .p-datatable .p-paginator-bottom {
  border-width: 0 !important;
}

:host ::ng-deep .p-datatable.p-datatable-gridlines .p-datatable-header {
  border-width: 0;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  border-width: 0;
  background: transparent;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
  text-align: center;
  padding: 1rem 1rem;
  font-weight: 700;
  color: white;
  background: #12949C;
  transition: box-shadow 0.2s;
}

:host ::ng-deep .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
  text-align: center;
}

:host ::ng-deep .row-odd {
  background-color: rgba(8, 117, 146, 0.12) !important;
}