    <ag-grid-angular 
    style="width: 100%; height: 500px" 
    class="ag-theme-alpine" 
    rowSelection="single"
    enableCellTextSelection 
    suppressDragLeaveHidesColumns 
    [animateRows]="animateRow" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef" 
    [rowHeight]="rowHeight" 
    [headerHeight]="headerHeight"
    [loadingOverlayComponent]="overlayLoadingTemplate" 
    [frameworkComponents]="frameworkComponents"
    (gridReady)="onGridReady($event)" 
    [pagination]="true" 
    ></ag-grid-angular>