<div class="transaction-summary-container">
    <div class="summary-left">
        <div class="summary-item">
            <span>App Trans ID</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>App Flags</span>
            <input readonly disabled type="text">
        </div>
        <div class="summary-item">
            <span>Checksum</span>
            <input readonly disabled type="text">
        </div>
        <div class="summary-item">
            <span>Data Offset</span>
            <input readonly disabled type="text">
        </div>
        <div class="summary-item">
            <span>Dst Port</span>
            <input readonly disabled type="text">
        </div>
    </div>
    <div class="summary-right">
        <div class="summary-item">
            <span>Ack Number</span>
            <input readonly disabled>
        </div>
        <div class="summary-item">
            <span>Data Window</span>
            <input readonly disabled type="text">
        </div>
        <div class="summary-item">
            <span>Sequence Number</span>
            <input readonly disabled type="text">
        </div>
        <div class="summary-item">
            <span>Pointer At</span>
            <input readonly disabled type="text">
        </div>
        <div class="summary-item">
            <span>Src Port</span>
            <input readonly disabled type="text">
        </div>
        <div class="summary-item">
            <span>Captured At</span>
            <input readonly disabled type=" text">
        </div>
    </div>
</div>