<div class="grid grid-cols-1 h-full space-y-8 lg:gap-8 lg:space-y-0 lg:grid-cols-3">
    <div class="col-span-12 bg-white rounded-3xl dark:bg-darker shadow-xl">
        <div class="flex items-center justify-between p-4 border-b dark:border-primary">
            <h4 class="text-lg font-semibold text-gray-500 dark:text-light">Device Summary</h4>
        </div>
        <div class="flex flex-row mt-10 mb-10">
            <div class="mx-auto shadow-xl">
                <div style='background-color:rgb(255, 255, 255)'>
                    <div class="w-72 bg-white rounded-lg shadow-md p-6" style="cursor: auto;">
                        <div class="w-16 mx-auto relative -mt-10 mb-3">
                            <img class="-mt-14" src="../../../../assets/laptop.svg" alt="Cookie Icon SVG">
                        </div>
                        <span class="text-center w-full  block leading-normal text-gray-800 text-md">Microsoft
                            Windows</span>
                        <br>
                        <span>IP : 192.168.1.42</span>
                        <br>
                        <span>Port : 88</span>
                        <br>
                        <span>Status: <p-tag severity="success" value="Active"></p-tag></span>
                        <br>
                        <span class="text-gray-500/40">Last Update: 16/06/2022</span>
                    </div>
                </div>
            </div>

            <div class="mx-auto shadow-xl">
                <div style='background-color:rgb(255, 255, 255)'>
                    <div class="w-72 bg-white rounded-lg shadow-md p-6" style="cursor: auto;">
                        <div class="w-16 mx-auto relative -mt-10 mb-3">
                            <img class="-mt-14" src="../../../../assets/laptop.svg" alt="Cookie Icon SVG">
                        </div>
                        <span class="text-center w-full  block leading-normal text-gray-800 text-md">Microsoft
                            Windows</span>
                        <br>
                        <span>IP : 192.168.1.42</span>
                        <br>
                        <span>Port : 88</span>
                        <br>
                        <span>Status: <p-tag severity="success" value="Active"></p-tag></span>
                        <br>
                        <span class="text-gray-500/40">Last Update: 16/06/2022</span>

                    </div>
                </div>
            </div>

            <div class="mx-auto shadow-xl">
                <div style='background-color:rgb(255, 255, 255)'>
                    <div class="w-72 bg-white rounded-lg shadow-md p-6" style="cursor: auto;">
                        <div class="w-16 mx-auto relative -mt-10 mb-3">
                            <img class="-mt-14" src="../../../../assets/laptop.svg" alt="Cookie Icon SVG">
                        </div>
                        <span class="text-center w-full  block leading-normal text-gray-800 text-md">Microsoft
                            Windows</span>
                        <br>
                        <span>IP : 192.168.1.42</span>
                        <br>
                        <span>Port : 88</span>
                        <br>
                        <span>Status: <p-tag severity="success" value="Active"></p-tag></span>
                        <br>
                        <span class="text-gray-500/40">Last Update: 16/06/2022</span>

                    </div>
                </div>
            </div>

        </div>
        <hr>
        <div class="flex flex-row mt-10 mb-10">
            <div class="mx-auto shadow-xl">
                <div style='background-color:rgb(255, 255, 255)'>
                    <div class="w-72 bg-white rounded-lg shadow-md p-6" style="cursor: auto;">
                        <div class="w-16 mx-auto relative -mt-10 mb-3">
                            <img class="-mt-14" src="../../../../assets/laptop.svg" alt="Cookie Icon SVG">
                        </div>
                        <span class="text-center w-full  block leading-normal text-gray-800 text-md">Microsoft Windows</span>
                        <br>
                        <span>IP : 192.168.1.42</span>
                        <br>
                        <span>Port : 88</span>
                        <br>
                        <span>Status: <p-tag severity="success" value="Active"></p-tag></span>
                        <br>
                        <span class="text-gray-500/40">Last Update: 16/06/2022</span>
                    </div>
                </div>
            </div>
        
            <div class="mx-auto shadow-xl">
                <div style='background-color:rgb(255, 255, 255)'>
                    <div class="w-72 bg-white rounded-lg shadow-md p-6" style="cursor: auto;">
                        <div class="w-16 mx-auto relative -mt-10 mb-3">
                            <img class="-mt-14" src="../../../../assets/laptop.svg" alt="Cookie Icon SVG">
                        </div>
                        <span class="text-center w-full  block leading-normal text-gray-800 text-md">Microsoft Windows</span>
                        <br>
                        <span>IP : 192.168.1.42</span>
                        <br>
                        <span>Port : 88</span>
                        <br>
                        <span>Status: <p-tag severity="success" value="Active"></p-tag></span>
                        <br>
                        <span class="text-gray-500/40">Last Update: 16/06/2022</span>
        
                    </div>
                </div>
            </div>
        
            <div class="mx-auto shadow-xl">
                <div style='background-color:rgb(255, 255, 255)'>
                    <div class="w-72 bg-white rounded-lg shadow-md p-6" style="cursor: auto;">
                        <div class="w-16 mx-auto relative -mt-10 mb-3">
                            <img class="-mt-14" src="../../../../assets/laptop.svg" alt="Cookie Icon SVG">
                        </div>
                        <span class="text-center w-full  block leading-normal text-gray-800 text-md">Microsoft Windows</span>
                        <br>
                        <span>IP : 192.168.1.42</span>
                        <br>
                        <span>Port : 88</span>
                        <br>
                        <span>Status: <p-tag severity="success" value="Active"></p-tag></span>
                        <br>
                        <span class="text-gray-500/40">Last Update: 16/06/2022</span>
        
                    </div>
                </div>
            </div>
        
        </div>
        
    </div>



</div>