<div class="transaction-summary-container">
    <div class="summary-left">
        <div class="summary-item">
            <span>Transaction Date</span>
            <input>
        </div>
        <div class="summary-item">
            <span>Network Date</span>
            <input>
        </div>
        <div class="summary-item">
            <span>Transaction Id</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Network Id</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>RRN</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Amount</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Currency Code</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Transaction Type</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Protocol</span>
            <input type="text">
        </div>
    </div>
    <div class="summary-right">
        <div class="summary-item">
            <span>Transaction Date</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Transaction Date</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Transaction Date</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Transaction Date</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Transaction Date</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Transaction Date</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Transaction Date</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Transaction Date</span>
            <input type="text">
        </div>
        <div class="summary-item">
            <span>Transaction Date</span>
            <input type="text">
        </div>
    </div>
</div>