<div class="table-container">
    <ag-grid-angular
  style="width: 100%; height: 500px"
  class="ag-theme-alpine"
  rowSelection="single"
  enableCellTextSelection
  suppressDragLeaveHidesColumns
  [animateRows]="animateRow"
  [columnDefs]="columnDef"
  [defaultColDef]="defaultColDef"
  [rowHeight]="rowHeight"
  [headerHeight]="headerHeight"
  [loadingOverlayComponent]="overlayLoadingTemplate"
  [frameworkComponents]="frameworkComponents"
  [pagination]="true"
  (gridReady)="onGridReady($event)"
  (rowClicked)="onCellClicked($event)"
></ag-grid-angular>

</div>