@tailwind base;
@tailwind components;
@tailwind utilities;

/*ag-grid-community*/
@import "ag-grid-community/dist/styles/ag-grid.css";
/* @import "ag-grid-community/dist/styles/ag-theme-balham.css"; */
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

@import "~boxicons/css/boxicons.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/tailwind-light/theme.css";
@import "~primeicons/primeicons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeflex/primeflex.css";

body {
    /* margin: 0;
    padding: 0;
    min-height: var(--full-screen-width);
    display: flex;
    flex-direction: column;
    min-width: var(--full-screen-width); */
    /* zoom: 0.8; */
    @apply
    bg-gray-200 
    m-0
    p-0
    flex
    min-h-screen
    min-w-full
    flex-col
   
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ag-bg-rowIndex {
  background-color: #0875921F !important;
  color: #727272;
}

.grid-container {
  border: 1px solid #087592;
  @apply
  bg-white 
  rounded-3xl
}

.grid-header {
  justify-content: space-between;
  border-bottom-color: #087592;
  @apply
  p-4 
  border-b 
  flex
}

.grid-header h4 {
  @apply
  text-lg 
  font-semibold 
  text-gray-500 
}

.action-button {
  @apply
  text-[20px];
  zoom: 124%;
}

.action-button .mat-icon {
  @apply
  text-[20px]
  ml-[10px];
}

.grid-header-right {
  @apply
  flex
  px-4
}

.search-container {
  width: 300px;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  margin-left: 10px;
}

.search-input {
  @apply
  bg-white
  appearance-none
  border-2
  border-gray-300
  rounded py-[5px] pl-[30px] pr-4 w-full
  text-gray-700 leading-[0] text-[14px]
  focus:outline-none focus:border-[#3f51b5]
}

:host ::ng-deep .ag-theme-alpine .ag-root-wrapper {
  border: none;
}

.ag-theme-alpine .ag-root-wrapper {
  border: none !important;
}

.ag-theme-alpine .ag-header {
  background: transparent !important;
}

