@tailwind base;
@tailwind components;
@tailwind utilities;

/*ag-grid-community*/
@import "~ag-grid-community/dist/styles/ag-grid";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

@import "~boxicons/css/boxicons.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/tailwind-light/theme.css";
@import "~primeicons/primeicons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~primeflex/primeflex.css";

body {
    margin: 0;
    padding: 0;
    min-height: var(--full-screen-height);
    min-width: var(--full-screen-width);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
