<form [formGroup]="formGroup" class="p-8">
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="name" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">Name</label>
            <p-message *ngIf="name.touched && !name.hasError('required')" severity="success">
            </p-message>
            <p-message *ngIf="name.touched && name.hasError('required')" severity="error">
            </p-message>
            <small *ngIf="name.touched && name.hasError('required')" class="p-error">Name should
                be
                fill.</small>
        </div>
        <div class="input-container">
            <input formControlName="description" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">Description</label>
            <p-message *ngIf="description.touched && !description.hasError('required')" severity="success">
            </p-message>
            <p-message *ngIf="description.touched && description.hasError('required')" severity="error">
            </p-message>
            <small *ngIf="description.touched && description.hasError('required')" class="p-error">Description should
                be
                fill.</small>
        </div>
        <div class="form-filled-container">
            <div class="input-container">
                <div class="m-auto space-x-2">
                    <section>
                        <p-checkbox [binary]="true" formControlName="hasHeader"></p-checkbox>
                        <label class="ml-2">Has Header</label>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <mat-dialog-actions align="end">
        <p-button class="cancel-button" label="Cancel" mat-dialog-close="true" styleClass="p-button-sm"></p-button>
        <p-button (onClick)="onCreateIsoConfiguration()" *ngIf="isoConfigService.buttonStatus== 'create'"
            [disabled]="formGroup.invalid" [loading]="showLoading" class="create-button ml-3" label="Create"
            styleClass="p-button-sm">
        </p-button>
        <p-button (onClick)="onUpdateIsoConfiguration()" *ngIf="isoConfigService.buttonStatus == 'edit'"
            [disabled]="disableStatus" [loading]="showLoading" class="create-button ml-3" label="Save"
            styleClass="p-button-sm"></p-button>
    </mat-dialog-actions>
</form>