<div class="ag-overlay-loading-center">
    <!--  <div style="display: flex; flex-direction: column; align-items: center; width: 100%">-->
    <!--    <span>Please wait while your rows are loading</span>-->
    <!--    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>-->
    <!--  </div>-->
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
                       fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
  </div>
  