.container-transaction {
  @apply 
    grid 
    grid-cols-1 
    gap-8 
    p-4 
    lg:grid-cols-2 
    xl:grid-cols-1;
}

.container-grid {
  @apply col-span-1 
    bg-white 
    rounded-md;
}

.grid-1 {
  @apply relative
    p-4;
}

.grid-2 {
  @apply flex 
    flex-col;
}

.grid-3 {
  @apply overflow-x-auto
    sm:-mx-6 
    lg:-mx-8;
}

.grid-4 {
  @apply inline-block 
    py-2 
    min-w-full 
    sm:px-6 
    lg:px-8;
}

.modal-container {
  @apply overflow-y-auto 
    overflow-x-hidden 
    fixed 
    right-0 
    left-0 
    top-4 
    z-50 
    justify-center 
    items-center 
    h-modal 
    md:h-full 
    md:inset-0;
}



.container-grid-header {
    @apply
    p-4 
    border-b 
}

.container-grid-header button {
    @apply
    bg-blue-500 
    text-white 
    py-2 
    px-4
}

.table-container {
    @apply
    overflow-hidden 
    shadow-md 
    sm:rounded-lg
}

.table-container th {
    @apply
    py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400
}

