<div class="container-grid mb-4">
  <div class="p-4">
    <app-table></app-table>
  </div>
</div>


<div class="container-grid">
  <div class="shadow-md sm:rounded-lg">
    <mat-tab-group>
      <mat-tab label="Transaction Summary" headerStyleClass="transaction-summary">
        <div class="transaction-summary-container">
          <div class="summary-left">
            <div class="summary-item">
              <span>Transaction Date</span>
              <input  readonly>
            </div>
            <div class="summary-item">
              <span>Network Date</span>
              <input  readonly>
            </div>
            <div class="summary-item">
              <span>Transaction Id</span>
              <input  readonly>
            </div>
            <div class="summary-item">
              <span>Network Id</span>
              <input  readonly>
            </div>
            <div class="summary-item">
              <span>RRN</span>
              <input  readonly>
            </div>
            <div class="summary-item">
              <span>Amount</span>
              <input  readonly>
            </div>
            <div class="summary-item">
              <span>Currency Code</span>
              <input  readonly>
            </div>
            <div class="summary-item">
              <span>Transaction Type</span>
              <input  readonly>
            </div>
            <div class="summary-item">
              <span>Protocol</span>
              <input value="">
            </div>
          </div>
          <div class="summary-right">
            <div class="summary-item">
              <span>Transaction Date</span>
              <input>
            </div>
            <div class="summary-item">
              <span>Transaction Date</span>
              <input>
            </div>
            <div class="summary-item">
              <span>Transaction Date</span>
              <input>
            </div>
            <div class="summary-item">
              <span>Transaction Date</span>
              <input>
            </div>
            <div class="summary-item">
              <span>Transaction Date</span>
              <input>
            </div>
            <div class="summary-item">
              <span>Transaction Date</span>
              <input>
            </div>
            <div class="summary-item">
              <span>Transaction Date</span>
              <input>
            </div>
            <div class="summary-item">
              <span>Transaction Date</span>
              <input>
            </div>
            <div class="summary-item">
              <span>Transaction Date</span>
              <input>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>