<div class="container-transaction">
  <!-- <div class="container-grid mb-4">
    <div class="container-grid-header text-center">
      <app-date-picker [form]="searchFilterForm"></app-date-picker>
    </div>

    <div class="grid-4 text-center p-4">
      <button mat-raised-button (click)="openDialog()" color="primary">Open</button>
    </div>

  </div> -->

  <div class="container-grid mb-4 shadow-md sm:rounded-lg">
    <div class="container-grid-header">
      <button (click)="onExport()" type="button">
        Export data as XLS
      </button>
    </div>
    <div class="p-4">
      <app-table [headerColHeight]="transactionTableService.headerColHeight"
        [paginationSize]="transactionTableService.paginationSize"
        [defaultColDef]="transactionTableService.defaultColDef" [columnDefs]="transactionTableService.columnDefs">
      </app-table>

      <div class="page-size-container">
        Page Size:
        <select (change)="onPageSizeChanged()" id="page-size">
          <option value="5" selected="">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="500">500</option>
        </select>
      </div>
    </div>
  </div>


  <div class="container-grid">
    <div class="shadow-md sm:rounded-lg">
      <mat-tab-group>
        <mat-tab label="Transaction Summary" headerStyleClass="transaction-summary">
          <div class="transaction-summary-container">
            <div class="summary-left">
              <div class="summary-item">
                <span>Transaction Date</span>
                <input [value]="this.transactionTableService.additionalData?.transactionDate" readonly>
              </div>
              <div class="summary-item">
                <span>Network Date</span>
                <input [value]="this.transactionTableService.additionalData?.networkDate" readonly>
              </div>
              <div class="summary-item">
                <span>MTI</span>
                <input [value]="this.transactionTableService.additionalData?.MTI" readonly>
              </div>
              <div class="summary-item">
                <span>HPAN</span>
                <input [value]="this.transactionTableService.additionalData?.HPAN" readonly>
              </div>
              <div class="summary-item">
                <span>Terminal Id</span>
                <input [value]="this.transactionTableService.additionalData?.terminalId" readonly>
              </div>
              <div class="summary-item">
                <span>Merchant Id</span>
                <input [value]="this.transactionTableService.additionalData?.merchantId" readonly>
              </div>
              <div class="summary-item">
                <span>Merchant Type</span>
                <input [value]="this.transactionTableService.additionalData?.merchantType" readonly>
              </div>
              <div class="summary-item">
                <span>Currency Code</span>
                <input [value]="this.transactionTableService.additionalData?.currencyCode" readonly>
              </div>
              <div class="summary-item">
                <span>Amount</span>
                <input [value]="this.transactionTableService.additionalData?.amount" readonly>
              </div>
              <div class="summary-item">
                <span>Response Code</span>
                <input [value]="this.transactionTableService.additionalData?.responseCode" readonly>
              </div>
            </div>
            <div class="summary-right">
              <div class="summary-item">
                <span>Transaction Id</span>
                <input [value]="this.transactionTableService.additionalData?.transactionId" readonly>
              </div>
              <div class="summary-item">
                <span>Network Id</span>
                <input [value]="this.transactionTableService.additionalData?.networkId" readonly>
              </div>
              <div class="summary-item">
                <span>RRN</span>
                <input [value]="this.transactionTableService.additionalData?.RRN" readonly>
              </div>
              <div class="summary-item">
                <span>Src Account</span>
                <input [value]="this.transactionTableService.additionalData?.srcAccount" readonly>
              </div>
              <div class="summary-item">
                <span>Dest Account</span>
                <input [value]="this.transactionTableService.additionalData?.destAccount" readonly>
              </div>
              <div class="summary-item">
                <span>Message Ascii</span>
                <input [value]="this.transactionTableService.additionalData?.messageAscii" readonly>
              </div>
              <div class="summary-item">
                <span>Message Hexa</span>
                <input [value]="this.transactionTableService.additionalData?.messageHexa" readonly>
              </div>
              <div class="summary-item">
                <span>Location</span>
                <input [value]="this.transactionTableService.additionalData?.location" readonly>
              </div>
              <div class="summary-item">
                <span>Sequence Number</span>
                <input [value]="this.transactionTableService.additionalData?.sequenceNumber" readonly>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Transaction Flow">
          <app-transaction-flow-table></app-transaction-flow-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>