<div class="container-transaction">
  <div class="container-grid">
    <div class="container-grid-header text-center">
      <app-date-picker></app-date-picker>
    </div>
    <div class="grid-1">
      <div class="grid-2">
        <div class="grid-3">
          <div class="grid-4 text-center">
            <button mat-raised-button class="bg-indigo-500 text-white" (click)="openDialog()">Open</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-grid">
    <div class="container-grid-header">
      <button type="button">
        Export data as XLS
      </button>
    </div>
    <div class="grid-1">
      <div class="grid-2">
        <div class="grid-3">
          <div class="grid-4">
            <app-table></app-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-grid">
    <div class="grid-1">
      <div class="grid-2">
        <div class="grid-3">
          <div class="grid-4">
            <div class="shadow-md sm:rounded-lg">
              <mat-tab-group>
                <mat-tab label="Transaction Summary">
                  <app-transaction-summary></app-transaction-summary>
                </mat-tab>
                <mat-tab label="Second"> Content 2 </mat-tab>
                <mat-tab label="Third"> Content 3 </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>