<div>
    <div class="case-container">
        <h3>Take Action</h3>
    </div>
    <div class="case-content">
        <div class="case-title">
            <label for="">Action</label>
        </div>
        <div class="case-input">
            <input type="text">
        </div>
        <div class="case-title mt-2">
            <label for="">Comment</label>
        </div>
        <div class="case-input">
            <textarea cols="30" rows="5"></textarea>
        </div>
        <div class="button w-full">
            <p-button class="mb-4" label="Take Action"></p-button>
            <p-button label="Reset Action Type"></p-button>
        </div>
    </div>
</div>