<form [formGroup]="searchFilterForm" class="p-8">
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="MTI" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">MTI</label>
        </div>
        <div class="input-container">
            <input formControlName="responseCode" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Response Code</label>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="HPAN" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">HPAN</label>
        </div>
        <div class="input-container">
            <input formControlName="transactionId" type="text" class="peer" placeholder=" " required="">
            <label class="input-label">Transaction Id</label>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="terminalId" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Terminal Id</label>
        </div>
        <div class="input-container">
            <input formControlName="networkId" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Network Id</label>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="merchantId" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Merchant Id</label>
        </div>
        <div class="input-container">
            <input formControlName="RRN" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">RRN</label>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="merchantType" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Merchant Type</label>
        </div>
        <div class="input-container">
            <input formControlName="srcAccount" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Source Account</label>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="currencyCode" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Currency Code</label>
        </div>
        <div class="input-container">
            <input formControlName="destAccount" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Destination Account</label>
        </div>
    </div>
    <div class="form-filled-container">
        <div class="input-container">
            <input formControlName="amount" type="text" class="peer" placeholder=" "
                required="">
            <label class="input-label">Amount</label>
        </div>
    </div>
   
</form>
<!-- <div class="p-6 space-y-6">
            <div class="modal-footer">
                <button data-modal-toggle="defaultModal" type="button" class="clear-footer">
                    Close
                </button>
            </div>
        </div> -->