/* .p-button {
    background-color: transparent !important;
} */
.search-transaction-container {
    @apply
    w-[300px]
    items-center
  }

.export-buttons button {
    @apply
    mr-2
}
  
  .search-icon-transaction {
    @apply
    absolute mt-[10px] ml-[10px]
  }
  
  :host ::ng-deep .mat-menu-content {
    display: flex;
    flex-direction: column;
  }
  
  :host ::ng-deep .mat-menu-content:not(:empty) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .edit-button {
    padding-top: .5rem;
  }
  
  .edit-button,
  .delete-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
  }
  
  .edit-button:hover,
  .delete-button:hover {
    /*background-color: #919aa3;*/
  }
  
  .edit-icon,
  .delete-icon {
    margin: 0 10px;
    font-size: 20px;
  }
  
  .delete-icon,
  .delete-text {
    color: red;
  }
  
  :host ::ng-deep .p-datatable.p-datatable-gridlines .p-paginator-bottom {
    border-width: 0 !important;
}

:host ::ng-deep .p-datatable .p-paginator-bottom {
    border-width: 0 !important;
}

:host ::ng-deep .p-datatable.p-datatable-gridlines .p-datatable-header {
    border-width: 0;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    border-width: 0;
    background: transparent;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th {
    text-align: center;
    padding: 1rem 1rem;
    font-weight: 700;
    color: white;
    background: #12949C;
    transition: box-shadow 0.2s;
}

:host ::ng-deep .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
    text-align: center;
}